.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
